<div class="info-container center">
  <h1>About</h1>
  <p>
    Welcome to CodeVerse Blog, your gateway to the ever-expanding universe of
    technology and coding! I’m Sulav Neupane, a passionate developer and tech
    enthusiast currently navigating the world of web development, backend
    technologies, and game development. Through this blog, I aim to share my
    journey, insights, and knowledge in the realm of coding and software
    development. Whether you're a fellow developer, a tech enthusiast, or
    someone curious about the world of code, CodeVerse Blog is here to provide
    valuable content that informs, inspires, and motivates. Join me as we
    explore the endless possibilities in the world of technology. Feel free to
    reach out, share your thoughts, or just say hi. Let’s embark on this coding
    adventure together!
  </p>
</div>
