<!-- Homepage of a website -->
<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <!-- Auto refresh the page -->
    <meta http-equiv="refresh" content="1" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Welcome to the homepage</h1>
    <p>This is the homepage of the website</p>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <br />
    <p>Name :<%- data.name %></p>
    <p>Age :<%- data.age %></p>
    <p>City :<%- data.city %></p>
  </body>
</html>
