body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0 10px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

main {
  flex: 3;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

nav ul li a {
  position: relative;
  color: white;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px 10px;
}

nav ul li a:hover {
  color: #e3e3e3;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.center {
  text-align: center;
  margin: 20px 0;
}

/* Styles for the home page */
.card {
  background-color: white;
  border: 1px solid #ddd;
  width: 20%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.card-content h4 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #666;
}

.card-content p {
  margin: 10px 0;
  color: #555;
}

/* Styles for the create page */
.create-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
}

.form-group button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #555;
}

/* Styles for the blog page */
.blog-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
  font-size: 2em;
  color: #333;
}

h4 {
  font-size: 1.2em;
  color: #666;
}

.buttons {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.btn {
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-create {
  background-color: #2196f3;
  display: inline-block;
}

.btn-edit {
  background-color: #4caf50;
}

.btn-delete {
  background-color: #f44336;
}

.info-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
